# Dependencies
node_modules
.pnpm-store

# Build output
dist
unpackage

# Local env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor and OS files
.DS_Store
.idea
.vscode
.hbuilderx

# Cache
.eslintcache
*.tsbuildinfo
